.card-body-text {
  font-family: monospace;
  font-size: min(72px, calc(100vw * 72 / 1280));
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-frame {
  border: min(5px, calc(100vw * 5 / 1280)) solid;
  border-radius: min(5px, calc(100vw * 5 / 1280));
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5%;
}

.card-header-text {
  font-family: monospace;
  font-size: min(36px, calc(100vw * 36 / 1280));
  font-weight: bold;
  margin: 0;
  text-align: left;
  white-space: pre;
}

.card-overlap {
  margin-bottom: max(-125px, calc(100vw * -125 / 1280));
}

.card-static {
  position: relative;
}

.card-space {
  aspect-ratio: 2.5 / 3.5;
  box-sizing: border-box;
  width: 100%;
}

.top-border {
  border-color: gray;
}

.top-occupied {
  margin-bottom: calc(-100% * 3.5 / 2.5);
}
