#columns {
  flex-grow: 1;
  padding: 0 calc(100% * 1 / 18);
}

#freecells {
  width: calc(100% * 4 / 9);
}

#foundations {
  width: calc(100% * 4 / 9);
}

#game {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  padding: min(12.8px, 1vw);
  width: 100%;
}

#top {
  justify-content: space-between;
}

#spacing-top-columns {
  height: min(12.8px, 1vw);
}

.column {
  padding: 0.5%;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.foundation {
  padding: 1%;
  width: 100%;
}

.freecell {
  padding: 1%;
  width: 100%;
}
